@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #233674;
}


.body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    padding: 100px;
    background: linear-gradient(180deg, #EFF4FA 0%, rgba(234, 104, 109, 0.1) 102.84%);
}

.right-infos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0px;
}

.pokemon-imagem {
    width: 476px;
    height: 496px;
}

.dividir {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tipo-pokemon {
    border-radius: 2px;
    color: #FFFFFF;
    padding: 5px;
}

.logo-inicie {
    cursor: pointer;
}

.atributos-container {
    display: flex;
    flex-direction: column;
}

.atributo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 17px;
}

.atributo-nome {
    margin-right: 15px;
}

.grafico {
    width: 200px;
    height: 20px;
    background-color: #FBFDFF;
    border-radius: 2px;
}

.barraVd {
    height: 100%;
    background-color: #C4F789;
    transition: width 0.3s ease;
    border-radius: 2px;
}

.barraDf {
    height: 100%;
    background-color: #F7802A;
    transition: width 0.3s ease;
    border-radius: 2px;
}

.barraVl {
    height: 100%;
    background-color: #49D0B0;
    transition: width 0.3s ease;
    border-radius: 2px;
}

.barraAt {
    height: 100%;
    background-color: #EA686D;
    transition: width 0.3s ease;
    border-radius: 2px;
}

.texto-destaque {
    font-size: 35px;
    font-weight: 700;
}

.texto-maior {
    font-size: 22px;
}

.texto-normal {
    font-size: 18px;
}

.texto-menor {
    font-size: 16px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

@media screen and (max-width: 1370px) {
    .body {
        padding: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .body {
        grid-template: 1fr 1fr / 1fr;
        padding: 30px;
    }

    .pokemon-imagem {
        margin-left: 0px;
        margin-top: 30px;
    }

    .right-infos {
        justify-content: center;
        padding-right: 0px;
    }
}


@media screen and (max-width: 570px) {
    .pokemon-imagem {
        width: 376px;
        height: 396px;
    }
}